:root {
  --color-dark: #10162f;
  --color-pink: #fff0e5;
  --font-main: "Poppins", sans-serif;
}

* {
  color: var(--color-dark);
  font-family: var(--font-main);
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-pink);
}
