---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import Header from '@components/Header.astro';
import defaultPhotoImage from '@images/default-photo.png';
---

<Layout title="heraldo Fortuna Landing Website">
	<Header />
	<main>
		<div>
			<section class="outline outline-green-600">
				<div>
					<Image src={defaultPhotoImage} width={500} height={500} alt="My profile picture." />
				</div>
			</section>
		</div>
	</main>
</Layout>