---
import { Image } from 'astro:assets';
import hamburguerMenuIcon from '@icons/hamburguer-menu.svg'
import linkedinIcon from '@icons/linkedin.svg';
import githubIcon from '@icons/github.svg';
---

<header>
  <div class="h-[60px] md:h-[80px] flex items-center justify-between gap-[16px]">
    <div>
      <span class="md:text-2xl font-semibold">Heraldo Fortuna</span>
    </div>
    <div class="block md:hidden">
      <Image src={hamburguerMenuIcon} width={32} height={32} alt="Mobile menu." />
    </div>
    <nav class="hidden md:block">
      <ul class="flex items-center gap-[32px]">
        <li class="cursor-pointer"><a href="/">Home</a></li>
        <li class="cursor-pointer"><a href="#about">About</a></li>
        <li class="cursor-pointer"><a href="#work">Work</a></li>
        <li class="cursor-pointer"><a href="#contact">Contact</a></li>
      </ul>
    </nav>
    <div class="hidden md:block">
      <ul class="flex items-center gap-[16px] md:gap-[32px]">
        <li class="cursor-pointer">
          <a href="https://www.linkedin.com/in/heraldo-fortuna/" target="_blank"><Image src={linkedinIcon} width={32} height={32} alt="Heraldo Fortuna Linkedin profile site." /></a>
        </li>
        <li class="cursor-pointer">
          <a href="https://github.com/heraldofortuna" target="_blank"><Image src={githubIcon} width={32} height={32} alt="Heraldo Fortuna Github profile site." /></a>
        </li>
      </ul>
    </div>
  </div>
</header>