---
import { Image } from 'astro:assets';
import hamburguerMenuIcon from '@icons/hamburguer-menu.svg'
---

<header>
  <div class="h-[60px] md:h-[80px] flex items-center justify-between gap-[16px]">
    <div>
      <span class="text-xl font-semibold">Heraldo Fortuna</span>
    </div>
    <div class="block md:hidden">
      <Image src={hamburguerMenuIcon} width={32} height={32} alt="Mobile menu." />
    </div>
    <nav class="hidden md:block outline outline-blue">
      <ul class="flex items-center gap-[32px] text-lg">
        <li class="cursor-pointer">Home</li>
        <li class="cursor-pointer">About</li>
        <li class="cursor-pointer">Work</li>
        <li class="cursor-pointer">Contact</li>
      </ul>
    </nav>
    <div class="hidden md:block">
      <ul class="flex items-center gap-[16px]">
        <li class="cursor-pointer">
          <Image src={hamburguerMenuIcon} width={32} height={32} alt="A normal icon 1." />
        </li>
        <li class="cursor-pointer">
          <Image src={hamburguerMenuIcon} width={32} height={32} alt="A normal icon 2." />
        </li>
      </ul>
    </div>
  </div>
</header>