.button {
  background-color: unset;
  color: var(--color-dark);
  text-align: center;
  font: var(--button);
  padding-block-start: 16px;
  padding-block-end: 16px;
  border: 1px solid var(--color-dark);
  border-radius: 24px;
  cursor: pointer;
  transition: var(--transition);
}

.button:hover {
  background-color: var(--color-dark);
  color: var(--color-white);
}

.button.is-secondary {
  color: var(--color-white);
  border-color: var(--color-white);
}

.button.is-secondary:hover {
  background-color: var(--color-white);
  color: var(--color-dark);
}
