.hero-content {
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 48px;
  padding-block-start: 24px;
  padding-block-end: 48px;
}

.hero-content h1 {
  border: 1px solid purple;
}

.hero-icon {
  border: 1px solid greenyellow;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .hero-content h1 {
    max-inline-size: 600px;
  }
}
